* {
    margin: 0;
    padding: 0;
  }
p {
    margin-block: 0px
}

:root {
    --light-text: white;
    --blue-background: aqua;

}

.dashboard .title {
    font-size: 2rem;
    margin-bottom: 50px;
    gap: 10px;
}


button {
    box-shadow: inset 0 3px 4px rgba(0,0,0,0.16), 0 4px 4px rgba(0,0,0,0.45);
    height: 30px;
    width: 80px;
    align-self:center;
    border: none;
    background-color: aqua;
    color: white;
    border-radius: 15px;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 223px 3fr 1fr;
    grid-template-rows: repeat(4, auto);
}
.container >* {
    padding-left: 20px;
}
.dashboard {
    display: flex;
    flex-direction: column;
    grid-row: 1/5;
    background-color: aqua;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}
.yourProjects {
    padding-top: 15px;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: lightgray;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
/*     align-items: center;
    justify-content: space-between; */
}
.announcementsTitle {
    padding-top: 15px;
    background-color: lightgray;
    font-size: 1.3rem;
    font-weight: bold;
    grid-column: 3/4;
    grid-row: 2/3;
}
.dashboard > * {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    color: black;
    margin-top: 15px;
}
.header {
    padding-top: 15px;
    box-shadow: inset 2px 3px 2px rgba(0,0,0,0.16), 4px 4px 4px rgba(0,0,0,0.45);
    background-color: antiquewhite;
    grid-column: 2/4;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.header,
.annoucements {
    padding-right: 30px;
}
#bhcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topHeader {
    display: grid;
    grid-template-columns: .5fr 8fr 3fr 1fr 3fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.topHeader h2 {
    min-width: 133px;
    justify-self: left;
}
.actualBell {
    justify-self: right;
    width: 24px;
}
.greg {
    justify-self: left;
}
.bottomHeader {
    display: grid;
    grid-template-columns: 1fr 8fr auto auto auto;
    gap: 15px;
    padding-bottom: 15px;
}
.main {
    background-color: lightgray
}
.projects {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: max-content;
    gap: 15px;
    grid-column: 2/3;
    grid-row: 3/5;
}
.card {
    max-width: 250px;
    height: 200px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.annoucements {
    padding-top: 10px;
    grid-column: 3/4;
}
.annCard {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.35);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.trendCard {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.35);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.trendCard > * {
    display: flex;
}
.trending {
    padding-right: 30px;
    grid-column: 3/4;
}
.trending h2 {

}
input {
    background-color: grey;
    opacity: .7;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 24px
}
.profilePic {
    max-width: 36px;
    height: auto;
    border-radius: 5px;
}
.bigPP {
    max-width: 65px;
    height: auto;
    border-radius: 10px;
}
.wtf {
    line-height: 28px;
}
.settings {
    margin-top: 50px;
}